<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fredoseep.pacewatcher">

    <!-- 必须的网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"> <!-- 隐藏顶部标题栏 -->

        <activity
            android:name=".activity.PacemanWatcherActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"> <!-- 防止旋转屏幕时重新加载 -->
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RankedVodActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".activity.RankedSelectActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>